[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
flask = "*"
zappa = "*"
schematics = "*"
sqlalchemy = "*"
mysqlclient = "*"
arrow = "*"
flask-jwt-extended = "*"
flask-restful = "*"
termcolor = "*"
werkzeug = "*"
pydantic = "*"

[requires]
python_version = "3.7"
